@import url("https://fonts.googleapis.com/css2?family=Monserrat:wght@300;400;500;700&display=swap");
body {
    font-family: "Montserrat", sans-serif;
    min-width: 50%;
    margin: auto;
    color: #333;
}
.header {
    display: flex;
    align-items: center;
}
.face {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.title {
    flex: 1;
    margin-left: 20px;
}
.name {
    color: grey;
}
.coral {
    color: coral;
}
.qualification {
    letter-spacing: 1px;
}
.hrline {
    border: 1px solid coral;

}